<ion-header [translucent]="true" class="header-register">
  <ion-toolbar>
    <ion-title>LOGIN IONIC ANGULAR😎</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-body">
  <div id="contenedor-formulario">
    <div class="card-form">
      <h1 id="titulo-formulario">Registro Usuario</h1>
      <div class="fornulario">
        <form action="">
          <!-- correo electronico -->
          <label for="email"><b>Correo Electronico</b></label> <br>
          <input type="email" name="email" id="email"> <br>
          <label for="password"><b>Contraseña</b></label><br>
          <input type="password" name="password" id="paswword"> <br>
          <label for="password"><b>Confirmar contraseña</b></label> <br>
          <input type="password" name="c_password" id="c_paswword"> <br>
          
        </form>
      </div>
    </div>
  </div>
</ion-content>